
/*http://www.color-hex.com/color-palette/1408*/

body {
    margin: 30px;
    margin-top: 15px;
    margin-bottom: 5em;
    color: #2a2424;

    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding: 0;
}

.error {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 90%;
    color:#d6d6df;
}
.error .unicodeicon { font-size: 190%; display: block;}


/*--- list---*/

/*.yeargroup {

    display: inline;
    margin-bottom: 1.5em;
    width:80%;
}*/
.square_year {
    float: left;
    margin-right: 0.3em;
    margin-bottom: 0.9em;

    text-align: center;
}
.yeargroup h2 {
    display: inline-block;

    font-size: 1.3rem;
    font-family: serif;

    margin-bottom: 40%;
    margin-top: 30%;

    opacity: 0.9;
}


.listwrapper {
    /*flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;*/
}

/* --- citation link box -- */
.square {
    display:inline-block;
    width:6em;
    height:6em;

    /*border: 1px black solid;*/
    /*margin:0.4em;*/
}

.linkanchor {
    position: relative;
    margin-bottom: 0.9em;
    margin-right: 0.3em;
}

a.linkbox  {
    margin:1px;
    text-decoration: none;
    color: #2a2424;
    /*background-color: white;*/
}

a.linkbox:hover {
    /*border: 1px solid black;
    box-shadow: 1px 1px 0 0;*/

    /*z-index: 90;*/
}
a.linkbox:hover .infowrapper {
    display: block;
    position: absolute;
    bottom:-1.0em;
    left:0em;

    z-index: 60;
}
a.linkbox:hover img {
    transform: scale(1.2, 1.2);
}

a.linkbox:visited .infowrapper {
    color: #b0b0b0;
}
a.linkbox:visited .isvisited {
    color: #b7b7b7;
}
.isvisited {
    color: white;
    font-size: 80%;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
}

.imgwrapper {
    float: left;
    /*width: 5em;
    height: 5em;
    padding: 8px;
    margin-right: 0.5em;*/

    position: relative;
}
.imgwrapper img {
    margin: auto;
    /* ~ hack to center the image verticaly */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width:100%;
    max-height:100%;

    z-index: -1;
}



.infowrapper {
    /*overflow: hidden;*/
    display: none;
    width: 18em;
}


.infowrapper h5 {
    margin:0;
    padding: 0;
    font-weight: normal;

    background-color: rgba(255, 255, 255, 0.6);
}
.date {
    font-size: 105%;
    margin-right: 0.5em;
}
.inventor {
    font-size: 90%
}
.linkbox .unicodethumbnail { font-size: 2em; color: #d6d6df; display: block;}

.nocitation {
    margin-left: 4em; color: #d2d2d2; font-size: 95%; font-family: serif;
}
.nocitation .unicodeicon { font-size: 120%; }
