<!doctype html>

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>
        
       {#  ---  boite INFO ---  #}
       <div class='boite_info'>
           {#  ---  classification ---  #}
            <span class='patentnumber'>{{data['patent_number']}}</span>

            <span>
                {% for cpc in data.cpc %}
                    <span class='code_cpc'>
                        {{ cpc.code }}
                    </span>
                {% endfor %}
            </span>

            {#  ---  info ---  #}
            <h1> {{data['title']}} </h1>
            <div class="date_line">
                <span class='date' title="{{data['date_formatted']}}">{{data['year']}}</span>
                {% for name in data.inventor %}
                    <span class='inventor'>
                        {{ name.name_formatted }}
                        {% if name.country_code %} ({{name.country_code}}){% endif -%}
                        {%  if not loop.last %},&nbsp;{% endif %}
                    </span>
                {% endfor %}
                <span class='assignee-list'>
                    {% for name in data.assignee %}
                        <span class='assignee'>
                            {{ name.name_formatted }}
                            {% if name.country_code %} ({{name.country_code}}){% endif -%}
                            {%  if not loop.last %},&nbsp;{% endif %}
                        </span>
                    {% endfor %}
                <span>
            </div>



       </div>

       {#  ---  boite VIEW  ---  #}
        <div class='boite_view'>

            <div class='figures'>
                {% if figures %}
                {% for imginfo in figures %}
                    <img src="{{imginfo.url}}" alt='nofig'
                        style="width:{{ imginfo.scale }}%" />
                {% endfor %}
                {% else %} <div class='error'><span class='unicodethumbnail'>🙈</span> no figures</div> {% endif %}
            </div>
            <div class='legende'>

                {% if data.legend %}
                <ul>
                    {% for line in data.legend %}
                        <li  {{ 'class="non-consecutive"' if not line.consecutive }}  >
                            <span class='legend_number'> {{ line.numero }}</span>{{ line.label }}
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class='error'><span class='unicodeicon'>🙊</span> empty legend </div>
                {% endif %}
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    {% if data.abstract %}
                        <h4> Abstract </h4>
                        <p> {{ data.abstract }} </p>
                    {% endif %}

                    <h4> Description </h4>
                    {% set texte = descriptionhtml.split('\n') %}
                    {% for paragraph in texte %}
                        <p> {{ paragraph | safe }} </p>
                    {% endfor %}
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                {% if citedinfo %}
                {% for info in citedinfo %}
                    <a href="{{url_for('patentinfo', patent_id=info.patentnumber)}}" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            {% if info.fig0 %}<img src="{{info.fig0}}"  />
                            {% else %}<span class='unicodethumbnail'>🙈</span>
                            {% endif %}
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>{{info.title}}</h5>
                            <div><span class='date'>{{info.year}}</span>
                            <span class='inventor'>{{info.inventor}}</span></div>
                        </div>
                    </a>
                {% endfor %}{% else %}
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                {% endif %}
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                {% if citedbyinfo %}
                {% for info in citedbyinfo %}
                    <a href="{{url_for('patentinfo', patent_id=info.patentnumber)}}" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            {% if info.fig0 %}<img src="{{info.fig0}}"  />
                            {% else %}<span class='unicodethumbnail'>🙈</span>
                            {% endif %}
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>{{info.title}}</h5>
                            <div><span class='date'>{{info.year}}</span>
                            <span class='inventor'>{{info.inventor}}</span></div>
                        </div>
                    </a>
                {% endfor %}{% else %}
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                {% endif %}
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/{{data.patent_number}}">google patent 🔗</a>
            <a href='/list'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>
