<!doctype html>

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_list.css') }}">
    </head>

    <body>

{% for thisyear in byyear  %}
    <div class='yeargroup'>
        <div class='square square_year'><h2> {{ thisyear.year }} </h2> </div>
        <div class='listwrapper'>

            {% for info in thisyear.patents  %}
            <div class='linkanchor square'>
            <a href="{{url_for('patentinfo', patent_id=info.patentnumber)}}" class='linkbox'>
                <div class='imgwrapper square'><span class="verticalcenteringhack"> </span>
                    <span class='isvisited'>•</span>
                        <img src="{{info.thumbnail}}" alt='🙈' />
                </div>

                <div class='infowrapper'>
                    <h5>{{info.title}}</h5>
                    <!-- <div><span class='date'>{{info.year}}</span> -->
                    <!-- <span class='inventor'>{{info.inventor}}</span></div> -->
                </div>
            </a>
            </div>
            {% endfor %}

        </div>
    </div>
{% endfor %}

    </body>

</html>
