<!doctype html>

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_list.css') }}">
    </head>

    <body>

{% for thisyear in byyear  %}
    <div class='yeargroup'>
        <h2> {{ thisyear.year }} </h2>
        <div class='listwrapper'>

            {% for info in thisyear.patents  %}
            <div class='linkanchor'>
            <a href="{{url_for('patentinfo', patent_id=info.patentnumber)}}" class='linkbox'>
                <div class='imgwrapper'><span class="verticalcenteringhack"> </span>
                    {% if info.fig0 %}<img src="{{info.fig0}}"  />
                    {% else %}<span class='unicodethumbnail'>🙈</span>
                    {% endif %}
                </div>

                <!-- <div class='infowrapper'>
                    <h5>{{info.title}}</h5>
                    <div><span class='date'>{{info.year}}</span>
                    <span class='inventor'>{{info.inventor}}</span></div>
                </div> -->
            </a>
            </div>
            {% endfor %}

        </div>
    </div>
{% endfor %}

    </body>

</html>
